<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <style>
        .table {
          width: 50%;
          margin-bottom: 20px;
          border: 1px solid #dddddd;
          border-collapse: collapse;
        }
        .table th {
          font-weight: bold;
          padding: 5px;
          background-color: #efefef;
          border: 1px solid #dddddd;
        }
        .table td {
          border: 1px solid #dddddd;
          padding: 5px;
        }
    </style>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
