{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
    <table class="table">
      <tr>
        <th>id</th>
        <th>login</th>
        <th>role</th>
      </tr>
        {% for user in findAllUsers %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.role }}</td>
            </tr>
        {% endfor %}
      </tr>
    </table>
{% endblock %}
